
<div id="nav" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <!-- <app-header></app-header> -->
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 mx-auto">
        <a class="me-3 py-2 text-decoration-none" href="/">Início</a>
        <a class="me-3 py-2 text-decoration-none" href="/evento">Eventos</a>
        <a class=" me-3 py-2 text-decoration-none" href="/contato">Contato</a>
        <a id="navButton" class="btn btn-outline-primary" href="/corais/new">Cadastre o seu Coral!</a>
    </nav>
    
</div>
