<!-- Background image -->
<!-- <div 
  class="bg-image"
  style="
    background-image: url('../../assets/images/background/bg1.png');
     
  "
> -->

    <div class="text-center">
        <h1>Prestigie o seu evento com uma bela apresentação de coral!</h1> 
    </div>

    <div class="container d-flex justify-content-center">
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../../assets/images/coral1.webp" alt="Los Angeles" style="width:100rem; height: 40rem">
            </div>
    
            <div class="item">
                <img src="../../assets/images/coral2.jpg" alt="Chicago" style="width:100rem; height: 40rem">
            </div>
        
            <div class="item">
                <img src="../../assets/images/coral3.jpg" alt="New york" style="width:100rem; height: 40rem">
            </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Próximo</span>
        </a>
        </div>
    </div>
    <div class="text-center">
        <h1>Uma amostra do nosso repertório</h1>
    </div>

    <div id="videos" class="container text-center">
        <div class="card" style="width: 40rem;">
            <video width="300" controls>
                <source src="../../assets/videos/teDeum.mp4" type="video/mp4">
            </video>
            <div class="card-body">
              <h1 class="card-title">Mozart - Te Deum</h1>
              
            </div>
        </div>
        <div class="card" style="width: 40rem;">
            <video width="300" controls>
                <source src="../../assets/videos/lacrimosa.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <h1 class="card-title">Mozart - Lacrimosa</h1>
                
            </div>
        </div>
        <div class="card" style="width: 40rem;">
            <video width="300" controls>
                <source src="../../assets/videos/pacemInTerris.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <h1 class="card-title">Marcos Frisina - Pacem in Terris</h1>
                
            </div>
        </div>
        <div class="card" style="width: 40rem;">
            <video width="300" controls>
                <source src="../../assets/videos/aveMaria.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <h1 class="card-title">Arcadelt - Ave Maria</h1>
                
            </div>
        </div>
        <div class="card" style="width: 40rem;">
            <video width="300" controls>
                <source src="../../assets/videos/salveRegina.mp4" type="video/mp4">
            </video>
            <div class="card-body">
                <h1 class="card-title">Juliano Ravanello - Salve Regina</h1>
                
            </div>
        </div>
    </div>
    

    <h1 id="frase1">Missas, Casamentos e Formaturas</h1>
    <h1>Repertório</h1>
    <ul>
        <li>And the Glory of the Lord</li>
        <li>Kyrie - de Angelis</li>
        <li>Glória - de Angelis</li>
        <li>Aleluia - Rodgers & Hammerstein</li>
        <li>Ave Verum</li>
        <li>Sanctus - Requiem Mozart</li>
        <li>Agnus Dei - de Angelis</li>
        <li>Pacem in Terris - Anima Christi</li>
        <li>Hallelujah - Haendel</li>
        <li>Salve Regina - Juliano Ravanello</li>
    </ul>